/* line 2, ../../src/_sass/typography.sass */
body {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.3em;
  color: #676161;
  cursor: default;
  vertical-align: baseline;
}

/* line 10, ../../src/_sass/typography.sass */
h1, h2, h3, h4, h5, h6, #section-links a {
  font-family: "museo-slab-1", "museo-slab-2", serif;
  display: block;
  position: relative;
  color: #363333;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-align: left;
}

/* line 20, ../../src/_sass/typography.sass */
h1, h2 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.02em;
  word-spacing: 0.2em;
  line-height: 1.32em;
  margin: 0.25em 0 0.68em;
  color: #e8402c;
  text-shadow: 0.023em 0.023em 0px #a82e20;
}
/* line 30, ../../src/_sass/typography.sass */
h1 a, h2 a {
  font-style: normal;
}
/* line 33, ../../src/_sass/typography.sass */
h1 a:visited, h1 a:active, h2 a:visited, h2 a:active {
  color: #707072;
  font-style: normal;
  text-shadow: 0.023em 0.023em 0px #191919;
}
/* line 38, ../../src/_sass/typography.sass */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus {
  color: #565657;
  font-style: normal;
  text-shadow: 0.023em 0.023em 0px #191919;
}

/* line 43, ../../src/_sass/typography.sass */
h3 {
  font-size: 1.75em;
  margin: 0 0 0.85em;
}

/* line 47, ../../src/_sass/typography.sass */
h4 {
  font-size: 1.5em;
  margin: 0.8em 0 0.6em;
}

/* line 50, ../../src/_sass/typography.sass */
h5 {
  font-size: 1.35em;
}

/* line 52, ../../src/_sass/typography.sass */
h6 {
  font-size: 1.15em;
}

/* line 54, ../../src/_sass/typography.sass */
p {
  font-size: 1em;
  margin: 0 0 1.4em 0;
  line-height: 1.4em;
  clear: both;
  vertical-align: baseline;
  text-shadow: 1px 1px 0px white;
}

/* line 62, ../../src/_sass/typography.sass */
blockquote {
  margin: 1.8em auto 2.15em;
  vertical-align: baseline;
  border-top: 1px solid #d9d8d5;
  border-bottom: 1px solid white;
  width: 88%;
  text-align: center;
}
/* line 70, ../../src/_sass/typography.sass */
blockquote p {
  text-align: center;
  font-size: 1.45em;
  color: #707072;
  padding: 0.3em 0.5em;
  margin: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #d9d8d5;
}

/* line 79, ../../src/_sass/typography.sass */
img {
  border: 1px solid #adaaa5;
  display: block;
  background: white;
  text-align: center;
  vertical-align: middle;
}

/* line 86, ../../src/_sass/typography.sass */
ul, ol, dl {
  line-height: 1.4em;
  margin-top: -1em;
  margin-bottom: 1.4em;
  vertical-align: baseline;
}

/* line 92, ../../src/_sass/typography.sass */
ul {
  list-style-type: disc;
}

/* line 95, ../../src/_sass/typography.sass */
ol {
  list-style-type: decimal;
}

/* line 98, ../../src/_sass/typography.sass */
hr {
  width: 100%;
  height: 1px;
  background: #cccccc;
  border: medium none;
  position: relative;
  clear: both;
  margin: 1.5em 0;
}

/* line 110, ../../src/_sass/typography.sass */
form input, form textarea {
  font-family: georgia;
  font-size: 1em;
}
/* line 114, ../../src/_sass/typography.sass */
form input[type="text"] {
  border: 1px dashed #777777;
  border-width: 0 0 1px 0;
  font-style: italic;
  color: #ff0060;
}
/* line 120, ../../src/_sass/typography.sass */
form textarea {
  border: 1px solid #999999;
  display: block;
  width: 98.8%;
  height: 12em;
  padding: 0.2em;
}

/* line 127, ../../src/_sass/typography.sass */
a {
  text-decoration: none;
  color: #e8402c;
  padding: 0.1em;
  font-style: oblique;
}
/* line 134, ../../src/_sass/typography.sass */
a:active, a:visited {
  color: #404042;
  font-style: oblique;
}
/* line 138, ../../src/_sass/typography.sass */
a:hover, a:focus {
  color: black;
  text-decoration: none;
  font-style: oblique;
}

/* line 1, ../../src/_sass/layout.sass */
div {
  display: block;
  position: relative;
}

/* line 4, ../../src/_sass/core.sass */
body {
  margin: 0px;
  padding: 0px;
  background: #f7f7f6 url("/stylesheets/images/background.png") 0 0 repeat;
  line-height: 1.3em;
  overflow-y: scroll;
}

/* line 11, ../../src/_sass/core.sass */
.accessibility {
  display: none;
  visibility: visible;
}

/*----------------------------------------------- */
/* line 18, ../../src/_sass/core.sass */
#logo {
  font-size: 1em;
}
/* line 21, ../../src/_sass/core.sass */
#logo a {
  display: block;
  position: relative;
  left: 60%;
  top: 0px;
  width: 8.1em;
  padding: 1.3em 0 1em;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;
  background: #dc3d2a;
  border: 1px solid #a82e20;
  border-top: 3px solid #a82e20;
  border-left: 1px solid #ff4530;
  text-shadow: 2px 2px 2px #a82e20;
}
/* line 40, ../../src/_sass/core.sass */
#logo a:visited, #logo a:active {
  color: white;
  background: #dc3d2a;
  border-color: #a82e20;
  border-left-color: #ff4530;
  text-shadow: 2px 2px 2px #a82e20;
}
/* line 47, ../../src/_sass/core.sass */
#logo a:hover, #logo a:focus {
  color: #eeeeee;
  border-color: #191919;
  background: #474746;
  text-shadow: 2px 2px 2px #191919;
}

/* line 55, ../../src/_sass/core.sass */
#container {
  zoom: 1;
}
/* line 8, ../../src/_sass/layout.sass */
#container:after {
  content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  visibility: hidden;
  clear: both;
  height: 0 !important;
  display: block;
  line-height: 0;
  font-size: xx-large;
  overflow: hidden;
}
/* line 58, ../../src/_sass/core.sass */
#container hr#end {
  background: transparent url("/stylesheets/images/block_border.png") 0 0 repeat-x;
  border: medium none;
  height: 5px;
  margin: 0 0 50px 0;
}
