<footer id="footer">
  <p>
    <a href="https://github.com/thisismissem" rel="me" title="Emelia on Github">Github</a>
    / <a href="https://hachyderm.io/@thisismissem" rel="me" title="Follow on Mastodon">Mastodon</a>
    / <a href="https://www.linkedin.com/in/thisismissem" rel="me" title="See my previous work on LinkedIn">LinkedIn</a>
    / <a id="email" href="#" title="Contact Emelia for non-recruitment matters">Email</a>
    <span id="updatedAt">Last Updated {{ 'now' | date: "%e %B %Y" }}</span>
  </p>
</footer>