/* line 3, ../src/480.scss */
#page {
  margin: 40px 20px;
  width: 280px;
  height: 100%;
}
/* line 8, ../src/480.scss */
#page section h1 {
  font-size: 1.6em;
}
/* line 11, ../src/480.scss */
#page section p {
  font-size: 1.1em;
}

/* line 17, ../src/480.scss */
#hi {
  width: 12em;
  height: 12em;
  -webkit-border-radius: 12em;
  -moz-border-radius: 12em;
  -ms-border-radius: 12em;
  -o-border-radius: 12em;
  border-radius: 12em;
}
/* line 21, ../src/480.scss */
#hi h2 {
  top: 0.0425em;
  left: 0.0425em;
  font-size: 8em;
  text-indent: 0.225em;
  line-height: 1.2em;
  width: 1.325em;
  height: 1.325em;
  -webkit-border-radius: 1.28em;
  -moz-border-radius: 1.28em;
  -ms-border-radius: 1.28em;
  -o-border-radius: 1.28em;
  border-radius: 1.28em;
  letter-spacing: -0.015em;
}
