/* line 3, ../src/700.scss */
#page {
  margin: 40px 20px;
  width: 350px;
}
/* line 7, ../src/700.scss */
#page section h1 {
  font-size: 2.2em;
}
/* line 10, ../src/700.scss */
#page section p {
  font-size: 1.2em;
}

/* line 16, ../src/700.scss */
#hi {
  width: 12em;
  height: 12em;
  -webkit-border-radius: 12em;
  -moz-border-radius: 12em;
  -ms-border-radius: 12em;
  -o-border-radius: 12em;
  border-radius: 12em;
}
/* line 20, ../src/700.scss */
#hi h2 {
  top: 0.0425em;
  left: 0.0425em;
  font-size: 8em;
  text-indent: 0.225em;
  line-height: 1.2em;
  width: 1.325em;
  height: 1.325em;
  -webkit-border-radius: 1.28em;
  -moz-border-radius: 1.28em;
  -ms-border-radius: 1.28em;
  -o-border-radius: 1.28em;
  border-radius: 1.28em;
  letter-spacing: -0.01em;
}
