/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:
  
  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com
  
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
/* line 19, ../src/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section,
time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* line 30, ../src/_reset.scss */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
/* line 39, ../src/_reset.scss */
img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
/* line 44, ../src/_reset.scss */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
  don't forget to restore the bullets within content. */
/* line 50, ../src/_reset.scss */
ul {
  list-style: none;
}

/* line 54, ../src/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 61, ../src/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 66, ../src/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 74, ../src/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 78, ../src/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 84, ../src/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 88, ../src/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 92, ../src/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 97, ../src/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 106, ../src/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 110, ../src/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 117, ../src/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 120, ../src/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 123, ../src/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 126, ../src/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 130, ../src/_reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 134, ../src/_reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 139, ../src/_reset.scss */
small {
  font-size: 85%;
}

/* line 143, ../src/_reset.scss */
strong {
  font-weight: bold;
}

/* line 147, ../src/_reset.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
  gist.github.com/413930 */
/* line 153, ../src/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 158, ../src/_reset.scss */
sup {
  top: -0.5em;
}

/* line 161, ../src/_reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 166, ../src/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 176, ../src/_reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 181, ../src/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 186, ../src/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/*
  Various mixins:  
-------------------------------------------------------------------------------*/
/* line 12, ../src/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 95%;
  font-weight: normal;
  line-height: 1.4em;
  color: #7c7c77;
  background: #fefefe;
}

/* line 21, ../src/screen.scss */
header, section, footer, div {
  display: block;
  position: relative;
}

/* line 26, ../src/screen.scss */
.clear {
  clear: both;
  position: relative;
}

/* line 31, ../src/screen.scss */
#hi {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  font-size: 20em;
  padding: 0.03em;
  border: 0.03em solid;
  border-color: #ea4030;
  background: #fefefe;
  margin-bottom: 40px;
}
/* line 60, ../src/_mixins.scss */
#hi span {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  text-indent: 0.1em;
  line-height: 1.2em;
  letter-spacing: -0.007em;
}
/* line 78, ../src/_mixins.scss */
#hi span {
  color: #fefefe;
  background: #ea4030;
}
@media only screen and (max-width: 40em) {
  /* line 31, ../src/screen.scss */
  #hi {
    font-size: 16em;
  }
}
@media only screen and (max-width: 30em) {
  /* line 31, ../src/screen.scss */
  #hi {
    font-size: 14em;
  }
}

/* line 45, ../src/screen.scss */
#page {
  width: 35em;
  margin: 2em 0 0 8em;
}
@media only screen and (max-width: 40em) {
  /* line 45, ../src/screen.scss */
  #page {
    width: 30em;
    margin: 40px 20px;
  }
}
@media only screen and (max-width: 30em) {
  /* line 45, ../src/screen.scss */
  #page {
    width: 20em;
  }
}

@media only screen and (max-width: 40em) {
  /* line 59, ../src/screen.scss */
  section {
    font-size: 0.9em;
  }
  /* line 63, ../src/screen.scss */
  section h1 {
    font-size: 2.4em;
  }
}
/* line 68, ../src/screen.scss */
section h1, section h2 {
  color: #5a5a50;
}
/* line 72, ../src/screen.scss */
section h1 {
  margin: 0;
  padding: 20px 0 0.5em;
  font-size: 3.6em;
  line-height: 1.2em;
  font-weight: 200;
  border-top: 1px solid #dddddd;
}
/* line 81, ../src/screen.scss */
section h2, section p {
  line-height: 1.6em;
}
/* line 85, ../src/screen.scss */
section h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 1.6em 0 0.6em;
}
/* line 91, ../src/screen.scss */
section p {
  font-size: 1.4em;
  font-weight: 200;
  margin: 0 0 1.6em 0;
  color: #7c7c77;
}
/* line 97, ../src/screen.scss */
section p a {
  color: #ea4030;
  text-decoration: none;
}
/* line 102, ../src/screen.scss */
section p a:visited, section p a:active {
  color: #bcbcbb;
  text-decoration: underline;
  font-style: italic;
}
/* line 109, ../src/screen.scss */
section p a:hover, section p a:focus {
  color: #5a5a50;
  font-style: normal;
}
/* line 115, ../src/screen.scss */
section p:last-child {
  margin-bottom: 1.1em;
}

/* line 122, ../src/screen.scss */
.gallery a {
  display: inline-block;
  margin: 0 1.5em 1.5em 0;
}
/* line 126, ../src/screen.scss */
.gallery a img {
  height: 65px;
  width: 65px;
}

/* line 132, ../src/screen.scss */
footer {
  border-top: 1px solid #dddddd;
  margin: 2em 0 0 0;
  padding: 0.5em 2px 1em;
  word-spacing: 0.5em;
}
/* line 138, ../src/screen.scss */
footer a {
  color: #7c7c77;
  text-decoration: none;
}
/* line 143, ../src/screen.scss */
footer a:visited, footer a:active {
  color: #bcbcbb;
  text-decoration: underline;
  font-style: normal;
}
/* line 150, ../src/screen.scss */
footer a:hover, footer a:focus {
  color: #5a5a50;
  font-style: normal;
}
