/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../src/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 95%;
  font-weight: normal;
  line-height: 1.4em;
  color: #7c7c77;
  background: #fbfbfb;
}

/* line 24, ../src/screen.scss */
header, section, footer, div {
  display: block;
  position: relative;
}

/* line 29, ../src/screen.scss */
.clear {
  clear: both;
  position: relative;
}

/* line 34, ../src/screen.scss */
#hi {
  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  -ms-border-radius: 20em;
  -o-border-radius: 20em;
  border-radius: 20em;
  display: block;
  position: relative;
  margin: 0px auto 3em;
  width: 20em;
  height: 20em;
  background: #ea4030;
  color: #fbfbfb;
}
/* line 43, ../src/screen.scss */
#hi h2 {
  display: block;
  position: relative;
  top: 0.04em;
  left: 0.04em;
  font-family: 'Lobster', cursive;
  font-size: 14em;
  font-weight: bold;
  text-align: left;
  text-indent: 0.3em;
  line-height: 1.2em;
  color: #fbfbfb;
  background: #ea4030;
  width: 1.3em;
  height: 1.3em;
  -webkit-border-radius: 1.28em;
  -moz-border-radius: 1.28em;
  -ms-border-radius: 1.28em;
  -o-border-radius: 1.28em;
  border-radius: 1.28em;
  border: 6px solid white;
  letter-spacing: -0.007em;
}

/* line 68, ../src/screen.scss */
#page {
  width: 35em;
  margin: 2em 0 0 8em;
}
/* line 72, ../src/screen.scss */
#page section h1 {
  font-size: 3.6em;
  font-weight: 200;
  color: #5a5a50;
  line-height: 1.6em;
  border-top: 1px solid #dddddd;
  margin: 0;
  padding: 0.23333em 2px 0;
}
/* line 83, ../src/screen.scss */
#page section p {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.4em;
  margin: 0 2px 1.6em 2px;
  color: #7c7c77;
}
/* line 91, ../src/screen.scss */
#page section p a, #page section p a:link {
  color: #ea4030;
  text-decoration: none;
}
/* line 94, ../src/screen.scss */
#page section p a:visited, #page section p a:active, #page section p a:link:visited, #page section p a:link:active {
  color: #bcbcbb;
  text-decoration: underline;
  font-style: italic;
}
/* line 99, ../src/screen.scss */
#page section p a:hover, #page section p a:focus, #page section p a:link:hover, #page section p a:link:focus {
  color: #5a5a50;
  font-style: normal;
}
/* line 104, ../src/screen.scss */
#page section p strong {
  font-weight: bold;
}
/* line 108, ../src/screen.scss */
#page section p small {
  margin-top: -0.5em;
  font-size: 0.5em;
  display: block;
  letter-spacing: 0.05em;
}
/* line 115, ../src/screen.scss */
#page section p:last-child {
  margin-bottom: 1.1em;
}
/* line 119, ../src/screen.scss */
#page section blockquote p {
  font-style: italic;
  color: #9c9c99;
  margin-left: 2em;
}
/* line 125, ../src/screen.scss */
#page footer {
  border-top: 1px solid #dddddd;
  margin: 0;
  padding: 0.43333em 2px 1em;
  word-spacing: 0.5em;
}
/* line 130, ../src/screen.scss */
#page footer a, #page footer a:link {
  color: #7c7c77;
  text-decoration: none;
}
/* line 133, ../src/screen.scss */
#page footer a:visited, #page footer a:active, #page footer a:link:visited, #page footer a:link:active {
  color: #bcbcbb;
  text-decoration: underline;
  font-style: normal;
}
/* line 138, ../src/screen.scss */
#page footer a:hover, #page footer a:focus, #page footer a:link:hover, #page footer a:link:focus {
  color: #5a5a50;
  font-style: normal;
}
