/* line 14, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../Users/micheil/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../src/screen.sass */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 95%;
  font-weight: normal;
  line-height: 1.4em;
  color: #8c8c88;
  background: #fbfbfb;
}

/* line 21, ../src/screen.sass */
header, section, footer, div {
  display: block;
  position: relative;
}

/* line 25, ../src/screen.sass */
.clear {
  clear: both;
  position: relative;
}

/* line 29, ../src/screen.sass */
#hi {
  -moz-border-radius: 20em;
  -webkit-border-radius: 20em;
  -o-border-radius: 20em;
  -ms-border-radius: 20em;
  -khtml-border-radius: 20em;
  border-radius: 20em;
  display: block;
  position: relative;
  margin: 0px auto 3em;
  width: 20em;
  height: 20em;
  background: #ea4030;
  color: #fbfbfb;
}
/* line 39, ../src/screen.sass */
#hi h2 {
  display: block;
  position: relative;
  top: 0.04em;
  left: 0.04em;
  font-family: "lobster-1", "lobster-2", "Georgia", "Times", "Time New Roman", sans-serif;
  font-size: 14em;
  font-weight: bold;
  text-align: left;
  text-indent: 0.3em;
  line-height: 1.2em;
  color: #fbfbfb;
  background: #ea4030;
  width: 1.3em;
  height: 1.3em;
  -moz-border-radius: 1.28em;
  -webkit-border-radius: 1.28em;
  -o-border-radius: 1.28em;
  -ms-border-radius: 1.28em;
  -khtml-border-radius: 1.28em;
  border-radius: 1.28em;
  border: 6px solid white;
}

/* line 59, ../src/screen.sass */
#page {
  width: 35em;
  margin: 3em 0 0 8em;
}
/* line 64, ../src/screen.sass */
#page section h1 {
  font-size: 3.6em;
  font-weight: 200;
  color: #5a5a50;
  line-height: 1.6em;
  border-top: 1px solid #dddddd;
  margin: 0;
  padding: 0.233em 2px 0;
}
/* line 74, ../src/screen.sass */
#page section p {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.4em;
  margin: 0 2px 1.6em 2px;
  color: #8c8c88;
}
/* line 82, ../src/screen.sass */
#page section p a, #page section p a:link {
  color: #ea4030;
  text-decoration: none;
}
/* line 86, ../src/screen.sass */
#page section p a:visited, #page section p a:active, #page section p a:link:visited, #page section p a:link:active {
  color: #5a5a50;
  text-decoration: underline;
  font-style: italic;
}
/* line 91, ../src/screen.sass */
#page section p a:hover, #page section p a:focus, #page section p a:link:hover, #page section p a:link:focus {
  color: #5a5a50;
  font-style: normal;
}
/* line 95, ../src/screen.sass */
#page footer {
  border-top: 1px solid #dddddd;
  margin: 0;
  padding: 0.433em 2px 0;
  word-spacing: 0.5em;
}
/* line 101, ../src/screen.sass */
#page footer a, #page footer a:link {
  color: #8c8c88;
  text-decoration: none;
}
/* line 105, ../src/screen.sass */
#page footer a:visited, #page footer a:active, #page footer a:link:visited, #page footer a:link:active {
  color: #5a5a50;
  text-decoration: underline;
  font-style: normal;
}
/* line 110, ../src/screen.sass */
#page footer a:hover, #page footer a:focus, #page footer a:link:hover, #page footer a:link:focus {
  color: #5a5a50;
  font-style: normal;
}
