@import "reset";
@import "mixins";

$darkgrey: #5a5a50;
$grey: #7c7c77;
$medgrey: #bcbcbb;
$litegrey: #dddddd;
$red: #ea4030;
$white: #fefefe;


body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 95%;
  font-weight: normal;
  line-height: 1.4em;
  color: $grey;
  background: $white;
}

header, section, footer, div {
  display: block;
  position: relative;
}

.clear {
  clear: both;
  position: relative;
}

#hi {
  @include logo-base(20em);
  @include logo-color($white, $red);
  margin-bottom: 40px;

  @media only screen and (max-width: 40em){
    font-size: 16em;
  }

  @media only screen and (max-width: 35em){
    font-size: 14em;
  }

  @media only screen and (max-width: 20em){
    font-size: 10em;
    span {
      letter-spacing: -0.014em;
    }
  }
}

#page {
  width: 35em;
  margin: 2em 0 0 8em;

  @media only screen and (max-width: 35em){
    width: 25em;
    margin: 40px 20px;
  }

  @media only screen and (max-width: 20em){
    width: 16em;
    margin: 40px 20px;
  }
}

section {
  @media only screen and (max-width: 40em){
    font-size: 0.9em;
  }

  h1, h2 {
    color: $darkgrey;
  }

  h1 {
    margin: 0;
    padding: 20px 0 0.5em;
    font-size: 3.6em;
    line-height: 1.2em;
    font-weight: 200;
    border-top: 1px solid $litegrey;

    @media only screen and (max-width: 40em){
      font-size: 2.4em;
    }
    @media only screen and (max-width: 20em){
      font-size: 1.8em;
    }
  }

  h2, p {
    font-size: 1.4em;
    line-height: 1.6em;

    @media only screen and (max-width: 20em){
      font-size: 1.2em;
    }
  }

  h2 {
    font-weight: 600;
    margin: 1.6em 0 0.6em;
  }

  p {
    font-weight: 200;
    margin: 0 0 1.6em 0;
    color: $grey;

    a {
      color: $red;
      text-decoration: none;

      &:visited,
      &:active {
        color: $medgrey;
        text-decoration: underline;
        font-style: italic;
      }

      &:hover,
      &:focus {
        color: $darkgrey;
        font-style: normal;
      }
    }

    &:last-child {
      margin-bottom: 1.1em;
    }
  }
}

.gallery {
  a {
    display: inline-block;
    margin: 0 1.5em 1.5em 0;

    img {
      @include square(65px);
    }
  }
}

footer {
  border-top: 1px solid $litegrey;
  margin: 2em 0 0 0;
  padding: 0.5em 2px 1em;
  word-spacing: 0.5em;

  a {
    color: $grey;
    text-decoration: none;

    &:visited,
    &:active {
      color: $medgrey;
      text-decoration: underline;
      font-style: normal;
    }

    &:hover,
    &:focus {
      color: $darkgrey;
      font-style: normal;
    }
  }
}
